.navbar {
  height: 70px;
  background-color: lab(100% 0.01 -0.01);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
}

.logo-title-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo img {
  height: 50px;
  width: auto;
}

.navbar-title h1 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  color: #302e2e;
}


.nav-center {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-btn {
  font-size: 26px;
  cursor: pointer;
  background: none;
  border: none;
  color: #080808;
}


.hi-admin {
  color: black;
  border: none;
  padding: 6px 14px;
  border-radius: 8px;  
  cursor: pointer;
  white-space: nowrap;
  font-size: 18px;
  flex-direction: row;
  overflow: visible;

}
.hi-admin:hover{
  background-color: beige;
}


.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #222;
  color: #fff;
  padding-top: 70px;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 15px 20px;
  cursor: pointer;
}

.sidebar ul li:hover {
  background-color: #444;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

@media (max-width: 768px) {

  .navbar {
    height: 75px;
    align-items: flex-start;
    padding-top: 6px;
  }

  
  .navbar-title h1 {
    font-size: 15px;
    margin-bottom: 15px;
  }

  
  .nav-center {
    top: 40px;          
    right: 10px;
    transform: none;
    position: absolute;
    left: 55%;
    top: 34px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 8px;
  }

 
  .hi-admin {
    width: auto;
    margin: 0;
    font-size: 12px;
    padding: 4 10px;
    margin-top: 7px;
  }
  .menu-btn {
    font-size: 22px;
    position: absolute;
    right: -42px;
    top:50%;
    transform: translateY(-50%);
    font-size: 22px;
  }


  .sidebar {
    width: 100%;
    left: -100%;
  }

  .sidebar.open {
    left: 0;
  }
}